.gallery-item{
    box-shadow: 0 4px 8px 5px rgba(90, 161, 201, 0.2), 0 6px 20px 0 rgba(90, 161, 201, 0.2);
    margin: 5px;
    border-radius: 0px !important;

}
.image-resize {
    height: 250px !important;
    width: 100% !important;
}

.custom-text{
    height: auto !important;
    width: 100%;
    position: absolute;
    bottom: -10px;
    padding: 5px 5px;
    max-width: 100vw !important;
    -webkit-box-ordinal-group: 3 !important;
    -ms-flex-order: 2 !important;
    order: 2 !important;
    overflow: auto !important;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(203, 38, 38, 0.615)), to(rgba(144, 5, 5, 0.75)));
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear;
}

.project-list{
    height: 400px;
    width: 100% !important;
}
.project-image-resize {
    height: 100% !important;
    width: 100% !important;
}